extends ../common/layout 

block layout-content 
    div.experience-form-container
        h2 Add Your Experience 
        form(action="/experiences/add/submit", method="POST")
            div 
                label(for="title") Title:
                input(type="text", name="title", id="title", placeholder="Your Role")
            div 
                label(for="company") Company:
                input(type="text", name="company", id="company", placeholder="Your Company Name")  
            div 
                label(for="location") Location:
                input(type="text", name="location", id="location", placeholder="Company Location")
            div 
                label(for="startyear") Starting Year:
                input(type="number", name="startyear", id="startyear", placeholder="Starting Year")
            div 
                label(for="endyear") Ending Year:
                input(type="number", name="endyear", id="endyear", placeholder="Ending Year")
            div 
                label(for="desc") Description:
                textarea(name="desc", id="desc", placeholder="Description")
            div 
                button.add-btn(type="submit") Add Experience 
