header#header 
    h2#site-name 
        a(href="/") Srivignesh Kavle
    nav#main-nav
        ul
            li 
                a(href="/experiences/list") Experience
            li 
                a(href="/projects/list") Projects
